[core]
	excludesfile = /Users/ougi/.gitignore_global
	autocrlf = input
	editor = vim -c \"set fenc=utf-8\"
[user]
	name = Katsushi OUGI
	email = bdbkx286@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	s = status
	b = branch
	co = checkout
	a = add
	f = flow
	ff = flow feature
	fh = flow hotfix
	fr = flow release
	t = tag
	bindex = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:iso8601)%09%(refname)' refs/heads
[pull]
	ff = only
[alias]
	conflicts = !git ls-files -u | cut -f 2 | sort -u
[difftool "sourcetree"]
	cmd = " /usr/local/bin/code --wait --diff $LOCAL $REMOTE"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/code --wait $MERGED
	trustExitCode = true
[commit]
	template = /Users/ougi/.stCommitMsg
[mergetool]
	keepBackup = false
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
