[core]
	excludesfile = /Users/ougi/.gitignore_global
	autocrlf = input
	editor = vim -c \"set fenc=utf-8\"
[user]
	name = Katsushi OUGI
	email = bdbkx286@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[diff]
	tool = opendiff
[commit]
	template = /Users/ougi/.stCommitMsg
[alias]
[merge]
        tool = p4merge
	ff = false
[mergetool]
        keepBackup = false
[mergetool "p4merge"]
        path = p4merge
        keepTemporaries = false
        trustExitCode = false
[pull]
	ff = only
[alias]
	conflicts = !git ls-files -u | cut -f 2 | sort -u
